<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    Lista de Clientes
</ol>
<div class="container">
    <div *ngIf="clientes && clientes.length > 0">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="alerta">
                    {{ mensagemAlerta }}
                  </div>
                  <div class="alert alert-danger" role="alert" *ngFor="let erro of erros">
                    {{ erro }}
                  </div>
            </div>
        </div>
      
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>CPF</th>
              <th>Ações</th>
              <th><button class="inserir-button" (click)="novoCadastro()">Inserir
                <i class="fa fa-plus"></i>
            </button></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <td>{{ cliente.id }}</td>
              <td>{{ cliente.nome }}</td>
              <td>{{ cliente.cpf }}</td>
              <td>
                <button class="button-editar" routerLink="/clientes/form/{{ cliente.id }}"> <i class="fa fa-edit" ></i> Editar</button>
                <button class="button-excluir" data-toggle="modal" data-target="#modalDelecao" (click)="preparaDelecao(cliente)"> <i class="fa fa-trash"></i> Excluir</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="clientes && clientes.length === 0">
        <p>Nenhum cliente encontrado.</p>
      </div>

      <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteSelecionado">
                  Confirma deleção do(a) cliente {{ clienteSelecionado.nome }} ?
                    <div class="modal-footer">
                            <button type="submit" class="btn btn-success" (click)="excluir(clienteSelecionado)" data-dismiss="modal" data-dismiss="modal">
                                <i class="fa fa-save"></i> Confirma
                            </button>
            
                            <button type="button" class="btn btn-danger" data-dismiss="modal">
                                <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                            </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
